.articles_selection{
margin-top: 10rem;

    .articles_selepction_list{

    padding: 2rem;

    &__list{
        list-style: none;
        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
}