.header {
  margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 10;
  }
  .button {
    padding: 10px;
  }